<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Transcendence</title>

		<!-- Router and main app -->
		<script src="{% static 'templates/router.js' %}"></script>
		<script type="module" src="{% static 'templates/index.js' %}"></script>
				
		<!-- Custom styles -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/pong.css' %}" rel="stylesheet">
		<link href="{% static 'css/views.css' %}" rel="stylesheet">
	</head>
	<body>
		<nav-menu></nav-menu>
		<div id="content" class="container mt-4">
			<!-- Content will be loaded here by router -->
		</div>
	</body>    
</html>