body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative; /* For absolute positioning of nav elements */
}

#content {
	flex: 1;
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: flex-start; /* Align to top */
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}

.nav-menu-button {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 25px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: all 0.3s ease;
	overflow: hidden;
	cursor: pointer;
	z-index: 1000; /* Ensure menu stays on top */
}

.nav-menu-button.expanded {
	width: 150px;
	height: auto;
}

.nav-buttons {
	display: none;
	flex-direction: column;
	gap: 8px;
	padding: 8px;
	margin-top: 25px;
}

.nav-menu-button.expanded .nav-buttons {
	display: flex;
}

.nav-button {
	color: rgb(157, 148, 148);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.nav-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.login-menu {
	position: fixed;
	top: 20px;
	right: 20px;
	left: auto !important;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	cursor: pointer;
	transition: all 0.3s ease;
	z-index: 1000;
	overflow: hidden;
}

.login-icon-img {
	font-size: 26px; /* Adjust size as needed */
	color: white !important; /* Force the color to white */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-menu.expanded {
    width: 120px;  /* Reduce width to make it slimmer */
    height: auto;
    border-radius: 8px; /* Reduce rounded corners */
    padding: 5px; /* Reduce padding */
    flex-direction: column;
}

.login-buttons {
	display: none;
	flex-direction: column;
	gap: 8px;
	padding: 8px;
	margin-top: 10px;
}

.login-menu.expanded .login-buttons {
	display: flex;
}

.login-button {
	color: rgb(157, 148, 148);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.login-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
